.container {
  padding: 34px 17px 28px 13px;
  font-family: $font;

  @media (min-width: 768px) {
    padding-left: 22px;
  }

  &__title1 {
    font-size: 14px;
    color: $color-bckg-button;
    font-weight: 350;
    height: 30px;
  }

  &__title2 {
    font-size: 22px;
    margin-bottom: 5px;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__p {
    font-size: 19px;
    color: $color-bckg-footer;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__btn {
    margin-top: 42px;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22.5px;
    border: solid 2px $color-bckg-button;

    & a {
      color: $color-bckg-button;
      font-size: 20px;
    }
  }
}

