.header {
  background-color: $color-bckg-button;
  width: 36.4px;
  height: 36.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  &__enlace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  &__enlace img {
    width: 100%;
  }
}
