section {
  background-color: $color-font-button;
  font-family: $font;
}

.section {
  padding: 18px 11px 30px 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);

  &__text {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__p {
      color: #626262;
      font-size: 12px;
      font-weight: 700;
    }

    &__title {
      font-size: 20px;
    }
  }

  &__articles {
    grid-row: 2 / 5;
  }

  &__btn {
    grid-row: 5 / 6;
  }
}




// BORRAR AL TERMINAR
.section__text {
  border: 3px solid black;
}

.section__articles {
  border: 3px solid blue;

}

.article {
  &__mochilas {
    border: 2px solid yellow;
  }
  &__estuches {
    border: 2px solid pink;
  }
  &__bolsas {
    border: 2px solid orange;
  }
}

.section__btn {
  border: 3px solid red;
}