<footer class="footer">
  <div class="footer__arrow">
    <a href="#hero">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
  </div>
  <div class="footer__list">
    <ul class="footer__list__ul">
      <li>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
          ZAPATILLAS
        </a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
          ROPA
        </a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
          NIÑO/A
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
        DESTACADOS
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
        TIPS
        </a>
      </li>
    </ul>
  
    <ul class="footer__list__ul">
      <li>
        <a
        href="https://twitter.com/Adalab_Digital" target="_blank" rel="noopener noreferrer">
        TWITTER
        </a>
      </li>
      <li>
        <a
        href="https://www.instagram.com/adalab_digital/" target="_blank" rel="noopener noreferrer">
        INSTAGRAM
        </a>
      </li>
      <li>
        <a
        href="https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg" target="_blank" rel="noopener noreferrer">
        YOUTUBE
        </a>
      </li>
    </ul>
  </div>
  
  <div class="footer__copy">
    <p>&copy; 2023</p>
    <p>we <i class="fa-solid fa-heart"></i> run</p>
  </div>

</footer>