<footer class="footer">
  <div class="footer__arrow">
    <!-- FALTA PONER EL ENLACE A HERO-->
    <a href="">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
  </div>
  <div class="footer__list">
    <ul class="footer__list__ul">
      <li>
        <a href="https://adalab.es/" target="_blank">
          ZAPATILLAS
        </a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank">
          ROPA
        </a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank">
          NIÑO/A
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank">
        DESTACADOS
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank">
        TIPS
        </a>
      </li>
    </ul>
  
    <ul class="footer__list__ul">
      <li>
        <a
        href="https://adalab.es/" target="_blank">
        TWITTER
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank">
        INSTAGRAM
        </a>
      </li>
      <li>
        <a
        href="https://adalab.es/" target="_blank">
        YOUTUBE
        </a>
      </li>
    </ul>
  </div>
  

  <div class="footer__copy">
    <p>&copy; 2023</p>
    <p>we <i class="fa-solid fa-heart"></i> run</p>
  </div>

</footer>