<section class="section">
  <p class="section__p"></p>
  <h2 class="section__title"></h2>

  <div class="section__articles">
    <article class="article__mochilas">
      <div class="article__mochilas__img">
        <img src="" alt="">
      </div>
      <p>Mochilas escolares</p>
    </article>

    <article class="article__estuches">
      <div class="article__estuches__img">
        <img src="" alt="">
      </div>
      <p>Estuches</p>
    </article>

    <article class="article__bolsas">
      <div class="article__bolsas__img">
        <img src="" alt="">
      </div>
      <p>Bolsas de deporte</p>
    </article>
  </div>

  <div class="section__btn">
    <a href="">Empezar ahora</a>
  </div>
</section>